<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Reports</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'categoryview.css' %}" />
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1>Reports for Category: {{ category.category_name }}</h1>
        <div class="reports-grid">
            {% for report in reports %}
            <div class="report-card">
                <div class="date-badge">
                    <span class="month">{{ report.publish_date|date:"M" }}</span>
                    <span class="year">{{ report.publish_date|date:"Y" }}</span>
                </div>
                <div class="report-details">
                    <h1><a href="{% url 'report_detail' report.rep_id report.rep_title|slugify %}" class="read-more">{{ report.rep_title }}</a></h1>
                    <p>Pages: {{ report.pages }} | Report Code: {{ report.rep_id }} | <a href="{% url 'report_detail' report.rep_id report.rep_title|slugify %}" class="read-more">Read more >></a></p>
                </div>
            </div>
            {% empty %}
            <br><br><center>
            <h2 style="color:red">NO REPORTS</h2>
            <p>No reports in that category.<br>Click here 👇 to Back.</p>
            </center><br><br>
            {% endfor %}
        </div>
        <center><a href="{% url 'category' %}" class="back-home">Back to category</a></center>
    </div>
</body>
</html>
