<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'category.css' %}" />
</head>
<body>
    {% include 'navbar.html' %}
    <div class="category-container">
        <h1>Browse <span>Categories</span></h1>
        <div class="category-grid">
            {% for category in categories %}
            <div class="category-card">
                <a href="{% url 'category_reports' category.category_id %}">
                    <p>{{ category.category_name }}</p>
                </a>
            </div>
            {% empty %}
            <p>No categories available.</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>
