<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}" />
</head>
<body>
{% include 'navbar.html' %}
    <div class="reports-container">
        {% for title in titles %}
        <div class="report-card">
            <div class="date-badge">
                {{ title.publish_date|date:"M" }}<br><span>{{ title.publish_date|date:"Y" }}</span>
            </div>
            <img class="report-cover" src="{{ title.rep_url }}" alt="{{ title.rep_title }}">
            <div class="report-details">
                <h4><a href="{% url 'report_detail' title.rep_id title.rep_url|slugify %}">{{ title.rep_title }}</a></h4>
                <p>Pages: {{ title.pages }} | Report Code: {{title.rep_id}} | <a href="{% url 'report_detail' title.rep_id title.rep_url|slugify %}">Read Full Report</a> </p>
                <p></p>
            </div>
        </div>
        {% empty %}
        <p>No reports available.</p>
        {% endfor %}
    </div>

</body>
</html>
