<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'navbar.css' %}" />
</head>
<body>
        <header class="top-bar">
            <div class="contact-info">
                <span>📞 +91 9169162030 (Asia)</span>
                <span>📞 +1(332) 2424 294 (Int'l)</span>
                <span>📧 help@24chemicalresearch.com</span>
            </div>
            <div class="account-actions">
                <a href="#">👤 Login / Register</a>
                <a href="{% url 'cart' %}">🛒 Cart</a>
            </div>
        </header>
        <nav class="navbar">
            <div class="logo">
                <img src="logo.png" alt="Logo">
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Search your reports...">
                <button>🔍</button>
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Latest Reports</a></li>
                <li><a href="{% url 'category' %}">Category</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
</body>
</html>
